# version control
.git/
.github/
.jj/
.gitignore

# ephemeral
/target

# secrets
.envrc

# docker
docker-bake.hcl
docker/Dockerfile.*
docker/app
!docker/app/*.py

# non-project
scripts/
examples/
charts/
